<% provide(:title, 'About Us') %>
    <h1>Petry Cafe - About Us</h1>
    <p>
    Poetry Cafe is a place for amateurs, artists and professional poets alike, to socialise, share their work and further their literary endeavours.</p>
    <p>
     We are the only website that uses our extensive industry connections to help unpublished poets gets their work in to the fore of publishers' minds and indeed the only website who offer competitions with real, significant cash prizes. Your work is voted on by your peers and other members of the community, rather than judging panels.   </p>
  </body>
</html>