<% provide(:title, 'Home') %>

<div class="center hero-unit">
    <h1>Welcome to the Poetry Cafe</h1>

    <h2>
    This is the home page for the Poetry Cafe
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
  </body>
</html>